{% extends 'base.html.twig' %}

{% form_theme formFilm 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <h1>Formulaire creation de film</h1>

    {{ form_start(formFilm) }}

    {{form_row(formFilm.name, {'attr': {'placeholder': 'nom du film'} })}}
    {{form_row(formFilm.resume, {'attr': {'placeholder': 'résumé du film'} })}}
    {{form_row(formFilm.realisateur, {'attr': {'placeholder': 'réalisateur du film'} })}}
    {{form_row(formFilm.sortie, {'attr': {'placeholder': 'sortie du film'} })}}

    <button class="btn btn-success" type="submit">Enregistrer</button>

    {{form_end(formFilm)}}







{% endblock %}